version: '3.8'

services:

  # react frontend service 
  frontend:
    image: baviske/budget-app-frontend:${FRONTEND_VERSION}
    container_name: frontend-app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M
    tmpfs:
      - /tmp
      - /var/cache/nginx
      - /var/run

  # spring boot backend service 
  backend:
    image: baviske/budget-app-backend:${BACKEND_VERSION}
    container_name: backend-app
    ports:
      - "8080:8080"
    environment:
      - USERNAME=${USERNAME}
      - PASSWORD=${PASSWORD}
      - PLAID_CLIENT_ID=${PLAID_CLIENT_ID}
      - PLAID_SECRET=${PLAID_SECRET}
      - PLAID_ENV=production
      - PLAID_API_BASE_URL=https://production.plaid.com
    restart: unless-stopped
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 320M
        reservations:
          memory: 192M
    tmpfs:
      - /tmp
  

  # python suggestion engine service 
  suggestion-engine:
    image: baviske/budget-app-suggestion-engine:${BACKEND_VERSION}
    container_name: suggestion-engine-app
    ports:
      - "8000:8000"
    volumes:
      - ./budgeting-app/backend/suggestion_engine/artifacts:/app/suggestion_engine/artifacts
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
        # memory optimizations
      - PYTHONHASHSEED=0
      - PYTHONUNBUFFERED=1
      - OMP_NUM_THREADS=1
      - MKL_NUM_THREADS=1
      - OPENBLAS_NUM_THREADS=1
    restart: unless-stopped
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 350M
        reservations:
          memory: 200M
    tmpfs:
      - /tmp
    mem_swappiness: 60 # enable swap usage

networks:
  app-network:
    driver: bridge

volumes:
  app-data:
    driver: local
