application.properties
application.yaml
**/application-test.yaml
.env
/.gradle/
.gradle/
build/
src/resources/.env
.idea/
frontend/
bin/
.settings/
/gradle/wrapper
gradlew
gradlew.bat
__pycache__
suggestion_engine/artifacts

