@tailwind base;
@tailwind components;
@tailwind utilities;

.plaid-link-wrapper {
   background-color: #4f46e5 !important;
   border: none !important;
   padding: 0 !important;
   transition: background-color 0.5s ease !important;
}

.plaid-link-wrapper:hover {
   background-color: #4338ca !important;
}

.plaid-link-wrapper > button {
   color: white !important;
   padding: 12px 24px !important;
}
